/* general */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --prime-white: #FFFFFF;
--light-grey: #F6F6F6;
--grey-footer: #23272A;
--purple-discord: #7289DA;
--blu-header: #255EE9;
--black-text: #000000;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

.debug{
  border: 1px solid black;
}

ul{
  list-style: none;
}

body{
  background-color: var(--prime-white);

}

/* header */
header{
  background-color: var(--blu-header);
}

/* main */
.even{
  background-color: var(--light-grey);
}

.flex{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: flex-start;
}

.align{
  align-items: center;
}

/* footer */
footer{
  background-color: var(--grey-footer);
  color: var(--prime-white);
}